/*Normalize*/
/* line 2, dev/scss/global/_default.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 6, dev/scss/global/_default.scss */
body {
  color: #dadada;
  background-color: #202020;
}

/* line 11, dev/scss/global/_default.scss */
body, h1, h2, h3, h4, h5, h6, p, section, div, nav, ul, li, button {
  margin: 0;
  padding: 0;
}
