doctype html
html
  head(lang="es")
    title ${1:title name}
    meta(http-equiv="content-type", content="text/html; charset=UTF-8")
    meta(name="description", content="")
    meta(name="keywords", content="")
    meta(name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;")
    // if lt IE 9
      script(type="text/javascript", src="js/html5shiv.js")
    link(rel="stylesheet", href="css/main.css", type="text/css")
  body
    h1 Título
    p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. A, corporis eos. Quam quia laborum, alias ex voluptatem dolorum temporibus quas accusamus provident esse magnam eius delectus magni modi reprehenderit vitae.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus quae eum praesentium deserunt consequuntur, quidem pariatur! Quod praesentium, aspernatur. Autem distinctio illum consequuntur et, molestiae sit repellendus vel quaerat quam.  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam repudiandae explicabo, quidem ad assumenda nisi minima. Dolor voluptatibus distinctio magni dignissimos optio, minima, natus quos porro aut totam! Ea, hic. dos dos